<table is="coral-table" selectable multiple orderable id="manual-table" style="margin-top: 10px;">
  <colgroup>
    <col is="coral-table-column" fixedwidth>
    <col is="coral-table-column">
    <col is="coral-table-column">
    <col is="coral-table-column" fixedwidth>
  </colgroup>
  <thead is="coral-table-head">
    <tr is="coral-table-row">
      <th is="coral-table-headercell">No.</th>
      <th is="coral-table-headercell">Activities</th>
      <th is="coral-table-headercell">Date</th>
      <th is="coral-table-headercell"></th>
    </tr>
  </thead>
  <tbody is="coral-table-body" id="manual-table-body">
    <tr is="coral-table-row">
      <td is="coral-table-cell">
        <coral-checkbox coral-table-rowselect></coral-checkbox>
      </td>
      <td is="coral-table-cell" class="activity">Alpha</td>
      <td is="coral-table-cell" class="date">January 28, 2012</td>
      <td is="coral-table-cell">
        <button is="coral-button" type="button" variant="minimal" coral-table-roworder></button>
      </td>
    </tr>
    <tr is="coral-table-row">
      <td is="coral-table-cell">
        <coral-checkbox coral-table-rowselect></coral-checkbox>
      </td>
      <td is="coral-table-cell" class="activity">Beta</td>
      <td is="coral-table-cell" class="date">December 1, 2011</td>
      <td is="coral-table-cell">
        <button is="coral-button" type="button" variant="minimal" coral-table-roworder></button>
      </td>
    </tr> 
 	<tr is="coral-table-row">
      <td is="coral-table-cell">
        <coral-checkbox coral-table-rowselect></coral-checkbox>
      </td>
      <td is="coral-table-cell" class="activity">Delta</td>
      <td is="coral-table-cell" class="date">December 2, 2019</td>
      <td is="coral-table-cell">
        <button is="coral-button" type="button" variant="minimal" coral-table-roworder></button>
      </td>
    </tr>
	 <tr is="coral-table-row">
      <td is="coral-table-cell">
        <coral-checkbox coral-table-rowselect></coral-checkbox>
      </td>
      <td is="coral-table-cell" class="activity">Gama</td>
      <td is="coral-table-cell" class="date">January 9, 2019</td>
      <td is="coral-table-cell">
        <button is="coral-button" type="button" variant="minimal" coral-table-roworder></button>
      </td>
    </tr> 
  </tbody>
</table>
