<p data-sly-test.edit="${wcmmode.edit}" data-emptytext="Breadcrumb Component" class="cq-placeholder"></p>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<sly data-sly-use.model="com.aem.demo.models.BreadcrumbModel">
	<nav aria-label="breadcrumb">
	  <ol class="breadcrumb">
	  	<sly data-sly-test.hashMap="${model.breadcrumbMap}">
		  	<sly data-sly-list="${hashMap}">
			    <li class="breadcrumb-item ${itemList.last ? 'active' : ''}"
			    	aria-current="${itemList.last ? 'page' : ''}">
			    	<sly data-sly-test="${itemList.last}">${item}</sly>
			    	<sly data-sly-test="${!itemList.last}">
			    		<a href="${hashMap[item]}">${item}</a>
			    	</sly>
			    </li>
		    </sly>
	    </sly>
	  </ol>
	</nav>
</sly>