<p data-sly-test.edit="${wcmmode.edit}" data-emptytext="Sample Students List Component" class="cq-placeholder"></p>
<sly data-sly-use.model="com.aem.demo.models.SampleStudentsList" />

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

<h3>${model.heading}</h3>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">S.No</th>
      <th scope="col">Name</th>
      <th scope="col">Subject</th>
      <th scope="col">Address</th>
    </tr>
  </thead>
  <tbody data-sly-list.student="${model.studentsData}">
    <tr>
      <th scope="row">${studentList.count}</th>
      <td>${student.name}</td>
      <td>${student.subject}</td>
      <td>${student.address}</td>
    </tr>    
  </tbody>
</table>