<template data-sly-template.body="${@ page}">

	<sly data-sly-include="header.html"/>
    <div class="main">
		<sly data-sly-include="content.html"/>
	</div>
    <sly data-sly-include="footer.html"/>

</template>
