<template data-sly-template.head="${@ page}">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>${page.title}</title>    
	<sly data-sly-include="headlibs.html"/>
    <sly data-sly-include="customheaderlibs.html" />

</template>