<p data-sly-test.edit="${wcmmode.edit}"
	data-emptytext="Dynamic Banner Component" class="cq-placeholder"></p>
<sly data-sly-use.model="com.aem.demo.models.DynamicBannerModel">
	<div>
		<img src="${model.imagePath}" width="1440" height="900">
	</div>

</sly>