<h2> Sample Component </h2>
<!-- <sly data-sly-use.model="com.aem.demo.models.SampleSlingModel">
	<h2>Title: ${model.title}</h2>
	<h2>Description: ${model.description}</h2>
	<h2>Size: ${model.size}</h2>
	<h2>Created At: ${model.createdAt}</h2>
	<h2>Path:  ${model.path}</h2>
</sly> -->