<p data-sly-test.edit="${wcmmode.edit}" data-emptytext="Composite Multifield Sample Component" class="cq-placeholder"></p>
<h2> Hello </h2>

<sly data-sly-use.model="com.aem.demo.models.CompositeMultifield">	
	<div data-sly-list.item="${model.contentList}">
    	<h5 class="count-${itemList.count}"> ${item.rteText @ context='html'}</h5>
    	<h5> ${item.path} </h5>
		<div data-sly-list.links="${item.linkFieldList}">			
			<h3 class="parent-list-count-${itemList.count} nested-list-count-${linksList.count}">${links.linkLabel}</h3>
			<h3>${links.linkUrl}</h3>
			<h3>${links.newWindow}</h3>	
		</div>
		<div data-sly-list.image="${item.imagesArrayList}">
			<h3>${image}</h3>
		</div>
	</div>
</sly>
